.blog-edit-container {
    position: fixed;
    z-index: 99999 !important;
    height: 100vh;
    width: 100%;
    top:0;
    background-color: rgb(230,230,230);
    color:black;
    padding-top:100px;
    overflow-x: hidden;
}

.blog-edit-form {
    text-align: center;
    background-color: var(--dark-blue);
    width: 50%;
    margin: 0 auto;
    padding:4rem 1rem;
    border-radius: 20px;
}

.blog-edit-input {
    background-color: transparent;
    border:none;
    width: 50%;
    font-size: 1.25rem;
    margin:1rem 0rem;
    border-bottom: 1px solid rgb(230,230,230);
    color:rgb(230,230,230);
    outline: none;
}

.blogpost-edit-btn {
    justify-content: center;
    display: flex;
    text-align: center;
    margin:0 auto;
    margin-top: 2rem;

}

.blog-edit-close {
    top:100px;
    transition: 0.2s ease all;
}

.blog-edit-close:hover {
    color:red;
}

@media (max-width: 900px) {

    .blog-edit-form {
        width: 90%;
    }

    .blog-edit-close {
        right:5px;
    }
}