.blog-post-cover {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.blog-content {
    min-height: 700px;
    padding:0rem 2rem;
}
.blog-post-header {
    margin-bottom: 2rem;
    text-align: center;
}

.blog-grid-text {
    padding:2rem;
    box-shadow: 1px 1px 25px rgba(255,255,255,0.2);
    background-color: black;
    min-height: 100px;
}
.blog-post-container {
    /* text-align: center; */
    min-height: 700px;
    padding:0rem 1rem;
    padding-top:80px;
    background-color: white;
    color:black;
    padding-bottom: 20px;
    transition: 0.1s ease all ;

}
.dark-post {
    background-color: var(--dark-blue);
    color: white;
}

.dark-post  .blog-post-dark-toggle {
    color:white;
}
.blog-post-dark-toggle {
    display: flex;
    background-color: transparent;
    color:black;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top:150px;
    right:75px;
}

.blog-post-date {
    /* margin-bottom: 4rem; */
    font-size: 1.25rem;
}

.blog-post-content {
    text-align: left;
    min-height: 700px;
}

.blog-post-details {
    width: 50%;
    margin:0 auto;
    justify-content: space-around;
    margin-bottom: 4rem;
    color:rgb(220,220,220);
}

.blog-author img {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.nofloat {
    position: fixed;
    bottom: 50px;
    background-color: white;
    color: black;
    padding:1rem 2rem;
    left:50%;
    transform: translate(-50%, -50%); /* Shift the element back by half its own width and height */
    opacity:0;
    transition: 0.2s ease all;
    z-index: 999999999 !important;
    border-radius: 20px;
}

.float {
    display: block;
    opacity: 1;
}
.blog-content h1 {
    text-align: center;
    /* line-height: 9vh; */
    padding:0rem 2rem;
    letter-spacing: -0.05vw;
}
.blog-content h1, .blog-content h2 {
    margin:2rem 0rem;
}

.blog-content p {
    margin:2rem 0rem;
    line-height: 5vh;
    color:rgb(220,220,220);
}

.blog-content p:last-of-type {
    margin-bottom: 6rem;
}
@media only screen and (max-width: 1200px) {
    .blogs-main {
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 800px) {
    .blogs-main {
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 600px) {
    .blogs-container {
        padding:17rem 5rem 10rem 5rem;
    }

}

@media only screen and (max-width: 450px) {
    .blogs-container {
        padding:6rem 0rem 6rem 0rem;
    }

    .blog-post-cover {
        width: 100%;
    }
    .blog-post-details {
        display: block;
        
    width: 100%;

    }

    .blog-author {
        margin-bottom: 1rem;
    }

    .blog-post-date {
        margin-bottom: 1rem;
    }

    .blog-content h1 {
        font-size: 2.5rem;
        padding: 0rem;
    }

    .blog-content {
        padding: 0rem 0rem;
    }

    .blog-post-container .cta-banner {
        margin-bottom: 0rem;
    }

    .blog-post-container {
        padding-bottom: 50px;
    }
}