.dashboard-content-container {
    position: relative;
        padding:2rem;
        margin: 2rem 2rem;
        border-radius: 20px;
        background-color: rgb(220, 220, 220);
        color:var(--dark-blue);
        box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.8);

}
.dash-content-grid-item {
    /* border:1px solid white; */
    padding: 2rem 1rem;
    text-align: left;
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
    border-radius:10px;
    margin:1rem 0rem;
    transition: 0.2s ease all;
    background-color: var(--dark-blue);
    border-radius: 20px;
    color:white;
}

.dash-content-grid-item:hover {
    transform: scale(1.01);
    cursor: pointer;
}
.dash-content-header {
    margin-bottom: 6rem;
    letter-spacing: -0.3vw;
}
.dash-content-grid {
   
}

.dash-content-grid-small {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.content-item-header {
    width: 1;
    font-size: 1.5rem;
    line-height: 5vh;
    text-align: left;
    margin-bottom: 0.5rem;
}

.blog-grid-item-header {
    min-height: 50px;
}

.blog-grid-text > p {
    font-size: 1rem;
    text-align: left;
}

.add-content-container {
    position: absolute;
    top:20px;
    right:50px;
    background-color: var(--dark-blue);
    border:none;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
    padding:0.6rem 0.75rem 0.2rem 0.75rem;
    margin:0;
    cursor: pointer;
    transition: 0.2s ease all;

}
.add-content-container:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 14px rgba(255,255,255,0.2);
    background-color: white;
    color:var(--dark-blue);
}

@media (max-width: 500px) {

    .dashboard-content-container {
        margin:2rem 0rem;
    }
}