/* Footer */

.footer-container {
    height:auto;
    padding:0rem 10rem;
}

.footer {
    padding-top:2rem;
    box-shadow:0 0 10px 1px rgb(40, 40, 40);
    padding-bottom:10px;
    overflow:hidden;
}

.social-icons {
    display: flex;
    height:75px;
    justify-content: center;
}
.fa-brands {
    font-size: 0.1rem !important;
}
.fa-twitter {
    color:#1D9BF0;
}

.fa-facebook {
    color:#0165E1;
}


.fa-instagram {
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
/* Also define standard property for compatibility */
background-clip: text;
-webkit-background-clip: text;
color:white;
border-radius:7px;
padding:0rem 0.2rem;
}

.fa-linkedin {
    color:#0e76a8;
}

.social-icon {
    font-size:2.5rem !important;
    margin: 1rem 1rem; 
    cursor:pointer; 
    width:30px;
}

.privacy-policy {
    margin:0;
    font-size:1.5rem;
    padding:1rem 0rem;
}


.form-div {
    position:relative;
}

.footer-brand-logo {
    /* width:200px;
    height:200px; */
    width:75%;
    margin-bottom:1rem;
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
    width:75%;
}

.footer-links-header {
    font-weight:700;
    margin-bottom:1.5rem;
    text-transform: uppercase;
    font-size:0.9rem !important;
    color:rgb(200,200,200);
}

.footer-link-header {
    font-size:0.9rem !important;

}

.footer-top {
    display: flex;
    margin-bottom:4rem;
}
.footer-contact-icon {
    margin-right:1rem;
}

.footer-brand-container {
    justify-content: center;
    text-align: center;
    margin-right:6rem;
    width:25%;
}

.footer-link {
    color:inherit;
    text-decoration: none !important;
    cursor: pointer;
    margin-bottom:1rem;
    font-weight:400;
    font-size: 1rem;
    transition: 0.2s ease all;
    letter-spacing: normal;
}

.footer-link:hover {
    color:rgb(200,200,200);
}

.footer-logo-brand {
    margin-left: 0rem;
    width: 200px;
}

Link {
    color: black !important;
}
.copyright-footer {
    width:100%;
    text-align: center;
    margin-bottom:1rem;
    font-size: 0.75rem;
}

.copyright-footer p {
    font-size: 0.95rem;
    display:flex;
    align-items: center;
    justify-content: center;

}
.copyright-footer p .ai-gradient {
    font-size: 1.1rem;
    margin: 0rem 0.25rem;
}

.service-subelement > svg > path {
    stroke:none !important;
}

@media only screen and (max-width: 1000px) {
    .footer-container {
    padding:0rem 5rem;
    }
}

@media only screen and (max-width: 800px) {
    .footer-top {
        display: block;
    }
    .footer-brand-container {
        width:100%;
        margin-bottom:3rem;
    }

    .footer-links-container {
    width:100%;
    justify-content: space-around;

    }
    .footer-brand-logo {
        /* width:100px;
        height:100px;
        margin-bottom:0rem; */
    }
   
    .footer-container {
        height:auto;
        padding:0rem 2rem;
    }
    .contact-links {
        display: none;
    }
}

@media (max-width: 500px) {
    .footer-brand-logo {
        /* width:100px;
        height:100px;
        margin-bottom:0rem; */
        width: 40%;
    }


    .footer-copyright-content {
        font-size: 1rem;
    }

  }

