.generate-container {
    text-align: center;
}


.generate-header {
    margin-bottom: 2rem;
    color:var(--primary);
}
.generate-banner {
    background-color: var(--primary);
    border-radius: 20px;
    /* width: 100%; */
    margin:0 2rem;
    margin-top: 2rem;
    text-align: center;
    padding:2rem 1rem;
}

.generate-banner > p {
    margin-bottom: 2rem;
}

.generate-btn {
    margin:0 auto;
    margin-bottom: 1rem;
}

.keywords-input {
    padding:10px;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.tone-dropdown {
    width: 54%;
    background-color: white;
    color:black;
    border-radius: 20px;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.tone-dropdown-header {
    padding:15px;
    font-size: 1.5rem;
    padding:10px;
}

.generate-label {
    font-size: 1.5rem;
}

.app-selection {
    margin-bottom: 2rem;
}

.dropdown-container {
    
}

.dropdown-img {
    width: 5%;
    margin-right: 1rem;
}

.title-input {
    display: flex;
    margin:0 auto;
    width: 50%;
    border-radius: 20px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 2rem;
    padding:10px;
}

.description-input {
    display: flex;
    margin:0 auto;
    width: 50%;
    border-radius: 20px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 2rem;
    padding:10px;
}

.success-message {
    color: green;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.keyword-render-container {
    padding:1rem;
    background-color: var(--primary);
    width: 50%;
    margin:0 auto;
    color:white;
    font-size: 1.5rem;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.keyword-render-div {
    color: white !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.delete-btn {
    background-color: transparent;
    color:white;
    transition: 0.2s ease all;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.delete-btn:hover {
    color:red;
}

.file-upload-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.file-upload-button:hover {
    background: linear-gradient(45deg, #ff6333, #ff3f4b);
    box-shadow: 0 4px 15px rgba(255, 48, 48, 0.3);
}
.file-names {
    margin-top: 10px;
    color: var(--primary);
    font-size: 2rem;
}

.drop-zone {
    background-color: white;
    border-radius: 20px;
    color:var(--dark-blue);
    border:2px solid var(--primary);
    min-height: 100px;
    cursor: pointer;
    /* padding:2rem; */
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    display:flex;
    justify-content:center;
    align-items: center;
}

.drop-zone input {
    height: 100px;
    cursor: pointer;
    width: 100%;
    display: none;
}

.no-gpt-btn {
    margin-bottom: 2rem;
}
@media (max-width: 900px) {
    .generate-header {
        /* font-size: 2.5rem; */
        
        line-height: 9vh;
    } 
}

@media (max-width: 500px) {
    .generate-banner {
        margin:0;
        margin-top:2rem;
    }
    .generate-header {
        font-size: 2.5rem;
        line-height: 7vh;
    }

    .generate-container {
        padding-top:0px;
    }

    .generate-input, .drop-zone, .tone-dropdown {
        width: 90%;
    }

    .drop-zone #text {
        padding:0rem 1rem;
    }

    .keywords-input {
        margin-bottom: 1rem;
    }

    .keyword-render-container {
        width: 85%;
    }

    .description-input {
        margin-bottom: 4rem;
    }

    .dropdown-img {
        width: 10%;
    }

    .tone-dropdown {
        border-radius: 30px;
        width: 95%;
    }

    .drop-zone {
        width: 95%;
    }

    .gpt-label {
        font-size: 1.5rem;
        color:rgb(200,200,200);
    }


}