.gpt-container {
    text-align: center;
    padding-top: 2rem;
    min-height: 700px;
    color:white;
    display: flex !important;
}
.gpt-header {
    margin-bottom: 2rem;
    line-height: 8vh;
}

.gpt-subheader {
    margin-bottom: 2rem;
}

.gpt-textarea {
    width: 50%;
    display: flex;
    margin:0 auto;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    border-radius: 20px;
    padding:10px;
    outline: none;
}

.gpt-wordcount {
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    border-radius: 20px;
    padding:1rem;
    outline: none;
}

.gpt-wordcount {}

.gpt-dropdown-container {
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;
    justify-content: center;

}

.gpt-button {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.gpt-form {
    margin-top:2rem;
}
@media (max-width: 900px) {
    .gpt-wordcount {
        width: 75%;
    }
    .gpt-textarea {
        width: 75%;
    }
}
@media (max-width: 500px) {
    .gpt-textarea {
        width: 90%;
        font-size: 1.5rem;
    }

    .gpt-wordcount {
        width: 90%;
        font-size: 1.5rem;
    }
    .test-container {
        padding:0rem 1rem;
        padding-top:100px;
        padding-bottom: 50px;
    }
}