.landing-container {
    padding:0rem 1rem;
}
 .hiw-landing-container, .why-landing-container, .fun-landing-container {
    min-height: 700px;  
    padding-bottom: 100px;
}

.home-landing-header, .about-landing-header, .hiw-landing-header, .blog-landing-header, .reviews-landing-header, .cta-landing-header, .why-landing-header {
    text-align: center;
    width: 75%;
    margin:0 auto;
    margin-bottom: 8rem;

}



/* */

.home-landing-container {
    min-height: 700px;
    height: auto;
    margin-top: 10rem;
    padding-bottom: 100px;

}
.home-landing-header {
    line-height: 9vh;
    width: 75%;
    margin:0 auto;
    margin-bottom: 2rem;

}

.home-landing-p {
    font-size: 1.5rem;
    width: 60%;
    margin:0 auto;
    margin-bottom: 4rem;

}

.home-landing-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0rem;
    margin-bottom: 6rem;
}

.home-landing-btn {
}


.home-landing-btn-icon {
   margin-left: 0.5rem;
}

.home-landing-video { 
    height:auto;
    width:60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}






/* About */

.about-landing-container {
    padding-bottom: 100px;
}
.about-landing-header {
    margin-bottom: 2rem;
}
.about-landing-banners {
    display: grid;
    grid-template-columns: repeat(3,3fr);
}

.about-landing-banner {
    background-color: var(--primary);
    padding:2rem;
    color:white;
    min-height: 200px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 20px;
    margin:0rem 1rem;
    letter-spacing: -0.1vw;
    line-height: 7vh;
    border:1px solid white;
    padding-top: 1rem;
}


.about-landing-p {
    text-align: center;
    margin-bottom: 6rem;
}



.about-banner-header {
    font-size: 2rem;
    line-height: 5vh;
}

.about-landing-banner > div > div {
    min-height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



/* */

.hiw-landing-header {
    margin-bottom: 4rem;
}
.hiw-landing-subheader {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
}



.landing-step {
    height:auto;
    text-align: center;
    margin-bottom:4rem;
}

.landing-step-number {
    /* width: 10%; */
    --diameter: 40px;
    border-radius: 50%;
    height: var(--diameter);
    font-weight: 600;
    font-size: 19px;
    margin-right: auto;
    margin-left: auto;
    width: var(--diameter);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
}


.landing-step-line {
    transform-origin: top;
    height: 34px;
    width: 3px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to bottom, var(--primary), var(--dark-blue));

}


.landing-step-line-up {
    transform-origin: top;
    height: 34px;
    width: 3px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to top, var(--primary), var(--dark-blue));

}

.landing-step-img {
    width:10%;
    border-radius: 20px;
}

.landing-img-lg {
    width:50%;
}

.landing-img-md {
    width:35%;
}

.landing-img-sm {
    width:20%;

}

.landing-step > h3 {
    margin-bottom: 1rem;
}
.landing-step > p {
    width: 50%;
    margin:0 auto;
    margin-bottom:4rem;

}

.ranki-dash-img {
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
}


/* */

.why-banner {
    background-color: rgb(230, 230, 230);
    /* background-color: var(--primary); */
    color:white;
    padding:2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0rem 2rem;
    margin-bottom: 4rem;
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
    border:2px solid var(--primary);
    background: linear-gradient(20deg, var(--secondary), var(--primary));


}
.why-banner-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:var(--secondary);
}
.why-banner-grid {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin-bottom: 4rem;
}

.why-landing-subheader {
    text-align: left;
    font-style:italic;
    margin-bottom: 4rem;
    margin-left: 3rem;
}

.why-landing-paragraph {
    width: 100%;
    margin:0 auto;
    font-size: 1.4rem;
    text-align: center;
    /* margin-bottom: 4rem; */
    letter-spacing: 0vw;
}

.why-landing-flexer {
    width: 40%;
    margin:0 auto;
    background-color: var(--dark-blue);
    border: 2px solid var(--primary);
    padding:2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
    padding-bottom: 4rem;
}

.why-landing-img {
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 4px var(--primary);
}

.why-img-container {
    /* min-height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.why-header-2 {
    margin-bottom: 4rem;
}









/* Fun Landing */

.fun-landing-container {
    min-height: 300px;
}

.fun-landing-supheader {
    text-align: left !important;
    display: flex;
    justify-content: left;
    margin: 0;
    margin-bottom: 2rem;
}

.fun-landing-banner {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
}

.fun-landing-light {
    margin-right: 0.5rem;
}

.fun-landing-header {
    font-size: 2rem;
}

.fun-landing-greyed {
    margin: 0;
    margin: 1rem 0rem;
    font-size: 1.2rem;
}






/* */

.reviews-landing-header {
    margin-bottom: 2rem;
}



/* Blog */

.blog-landing-container {
    min-height: 500px;
    padding-bottom: 100px;
}

.arrow-right {
    margin-left: 0.5rem;
}



.blog-landing-header {
    margin-bottom: 4rem;
}




/* FAQ */

.index-faqs-container {
    width:100%;
    height:auto;
    margin-bottom: 8rem;
}
.index-faqs-header {
    text-align: center;
    margin-bottom:6rem;
}
.faq-container {
    width:100%;
    margin-bottom:4rem;
}
.faq-item {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    width:75%;
    margin: 0rem auto;
    /* padding: 1rem 0rem; */

}
.faq-item:hover > .faq-header, .faq-item:hover > .dropdown-icon {
    color:var(--primary) !important;
}

.faq-header {
    display: flex;
    justify-content: left;
    font-size:2rem;
    cursor: pointer;
    transition: 0.1s ease all;
    margin:1rem 0rem;
    
}

.faq-dropdown-content-closed {
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    width:75%;
    margin:0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding:1rem; */
    font-size:2rem;
    transition: 0.2s ease all;
    opacity:0;
    z-index:-1;
    transform: translateY(-10px);
    font-size:0.1rem;
}
.faq-dropdown-content {
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    width:75%;
    margin:0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:1rem;
    font-size:1.5rem;
    transition: 0.2s ease all;
    opacity:1;
    transform: translateY(0px);
    letter-spacing: -0.05vw;
    /* color:black; */
    /* border: 1px solid rgb(200, 200, 200); */
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
}
.dropdown-icon {
    font-size:2rem;
    cursor: pointer;
    float:right;
}



/* CTA */

.cta-landing-container {
    min-height: 500px;
    padding-bottom: 100px;
    
}

.cta-banner {
    width: 60%;
    background-color: var(--primary);
    border-radius: 20px;
    color:white;
    padding: 2rem 4rem;
    text-align: left;
    position: relative;
    margin: 0 auto;
    margin-bottom: 8rem;
}

.cta-header {
    margin:2rem 0rem;
}

.cta-subheader {
    margin:2rem 0rem;
    margin-bottom: 4rem;
}

.cta-btn {
    margin-bottom: 2rem;
}

.cta-landing-img {
    width:10%;
    display: flex;
    justify-content: right;
    text-align: right;
    margin-left: auto;
    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    right:20px;
}