.landing-container {
    padding:0rem 1rem;
}
 .hiw-landing-container, .why-landing-container, .fun-landing-container {
    min-height: 700px;  
    padding-bottom: 100px;
}

.home-landing-header, .about-landing-header, .hiw-landing-header, .blog-landing-header, .reviews-landing-header, .cta-landing-header, .why-landing-header {
    text-align: center;
    width: 75%;
    margin:0 auto;
    margin-bottom: 8rem;

}



/* */

.home-landing-container {
    min-height: 700px;
    height: auto;
    margin-top: 10rem;
    padding-bottom: 100px;

}
.home-landing-header {
    line-height: 110%;
    width: 75%;
    margin:0 auto;
    margin-bottom: 2rem;

}

.home-landing-p {
    font-size: 1.5rem;
    width: 60%;
    margin:0 auto;
    margin-bottom: 4rem;

}

.home-landing-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0rem;
    margin-bottom: 6rem;
}

.home-landing-btn {
}


.home-landing-btn-icon {
   margin-left: 0.5rem;
}

.home-landing-video { 
    height:auto;
    width:60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.home-landing-img {
    width:30%;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}



@media (max-width: 900px) {
    .home-landing-header {
        width: 90%;
        margin:0 auto;
        margin-bottom: 2rem;
    
    }
    .home-landing-img {
        width:60%;
    }
}

@media (max-width: 768px) {
    .home-landing-header {
        width: 95%;
        margin:0 auto;
        margin-bottom: 2rem;
        font-size: 3.25rem;
    
    }

    .home-landing-p {
        font-size: 1.5rem;
        width: 80%;
        margin:0 auto;
        margin-bottom: 4rem;
    
    }
    .home-landing-img {
        width:60%;
    }
}

@media (max-width: 500px) {
    .home-landing-header {
        width: 95%;
        margin:0 auto;
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: left;
    }

    .home-landing-p {
        font-size: 1.25rem;
        width: 95%;
        margin-bottom: 8rem;
        text-align: left;
    }

    .home-landing-container {
        min-height: 700px;
        height: auto;
        margin-top: 9rem;
        padding-bottom: 100px;
    
    }

    .home-landing-img {
        width:90%;
    }

    .home-landing-video { 
        height:auto;
        width:95%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    
    }
}



/* About */

.about-landing-container {
    padding-bottom: 100px;
}
.about-landing-header {
    margin-bottom: 2rem;
}
.about-landing-banners {
    display: grid;
    grid-template-columns: repeat(3,3fr);
}

.about-landing-banner {
    background: linear-gradient(to right, #8843fe, #a680ff);
    padding:2rem;
    color:white;
    min-height: 200px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 20px;
    margin:0rem 1rem;
    letter-spacing: -0.1vw;
    line-height: 110%;
    border:1px solid var(--dark-blue);
    padding-top: 1rem;
}


.about-landing-p {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 1.45rem;
    width: 80%;
    margin: 0 auto 6rem auto;
}



.about-banner-header {
    font-size: 2rem;
    line-height: 110%;
}

.about-landing-banner > div > div {
    min-height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .about-landing-header {
       width: 100%;
       font-size: 1.85rem;
    }

    .about-landing-banners {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .about-landing-banner {
        margin: 1rem 0rem;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 500px) {
    .about-landing-banners {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    .about-landing-banner {
        background-color: var(--primary);
        padding:2rem;
        color:white;
        min-height: 200px;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        border-radius: 20px;
        margin:0rem 1rem;
        letter-spacing: -0.1vw;
        border:1px solid white;
        padding-top: 1rem;
    }

    .about-landing-banner {
        margin: 1rem 0rem;
    }
}

/* */

.hiw-landing-header {
    margin-bottom: 4rem;
}
.hiw-landing-subheader {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
}



.landing-step {
    height:auto;
    text-align: center;
    margin-bottom:4rem;
}

.landing-step-number {
    /* width: 10%; */
    --diameter: 40px;
    border-radius: 50%;
    height: var(--diameter);
    font-weight: 600;
    font-size: 19px;
    margin-right: auto;
    margin-left: auto;
    width: var(--diameter);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
}


.landing-step-line {
    transform-origin: top;
    height: 34px;
    width: 3px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to bottom, var(--primary), var(--dark-blue));

}


.landing-step-line-up {
    transform-origin: top;
    height: 34px;
    width: 3px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to top, var(--primary), var(--dark-blue));

}

.landing-step-img {
    width:10%;
    border-radius: 20px;
}

.landing-img-lg {
    width:50%;
}

.landing-img-md {
    width:35%;
}

.landing-img-sm {
    width:20%;

}

.landing-step > h3 {
    margin-bottom: 1rem;
}
.landing-step > p {
    width: 50%;
    margin:0 auto;
    margin-bottom:4rem;
    color: var(--light-grey);
}

.ranki-dash-img {
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
    border: 1px solid white;
    padding: 0.1rem;
}



@media (max-width: 900px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 500px) {
    .header-grey {
        font-weight: 400;
        color: rgb(100, 100, 100);
        font-size: 2rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }

    .hiw-landing-header {
        width: 95%;
        font-size: 2rem;
    }

    .hiw-landing-subheader {
        font-size: 2rem;
    }
}


/* */

.why-banner {
    /* background-color: rgb(230, 230, 230); */
    /* background-color: var(--primary); */
    color:white;
    padding:2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0rem 2rem;
    margin-bottom: 4rem;
    /* box-shadow: 1px 1px 8px #67676733; */
    /* border:2px solid var(--primary); */
    /* min-width: 150px; */
    /* background: linear-gradient(20deg, var(--secondary), var(--primary)); */
    /* background: linear-gradient(to right, #8843fe, #a680ff); */


}
.why-banner-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:var(--secondary);
}
.why-banner-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* grid-template-columns: repeat(3,3fr); */
    margin-bottom: 4rem;
}

.why-landing-subheader {
    text-align: left;
    font-style:italic;
    margin-bottom: 4rem;
    margin-left: 3rem;
}

.why-landing-paragraph {
    width: 100%;
    margin:0 auto;
    font-size: 1.4rem;
    text-align: center;
    /* margin-bottom: 4rem; */
    letter-spacing: 0vw;
}

.why-landing-flexer {
    width: 40%;
    margin:0 auto;
    background-color: var(--dark-blue);
    border: 2px solid var(--primary);
    padding:2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
    padding-bottom: 4rem;
}

.why-landing-img {
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 4px var(--primary);
    background-color: var(--dark-blue);
}

.why-img-container {
    /* min-height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.why-header-2 {
    margin-bottom: 4rem;
}

.link-icon {
    font-size: 3rem;

}
.link-icon > g {
fill:var(--secondary);
}
@media (max-width: 900px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 500px) {

    .why-landing-header {
        width: 100%;
        font-size: 2rem;
    }

    .why-landing-subheader {
        margin-left: 1rem;
    }
  .why-banner-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .landing-step > h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .landing-step > p {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: 1rem;
}

.landing-img-md {
    width: 85%;
}

.landing-img-sm {
    width: 60%;
}

.blog-grid-container {
    display: grid;
    grid-template-columns: repeat(1,1fr) !important; 
}

.why-landing-flexer {
    width: 90%;
    padding: 1rem;

}
.why-landing-paragraph {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
}





/* Fun Landing */

.fun-landing-container {
    min-height: 300px;
}

.fun-landing-supheader {
    text-align: left !important;
    display: flex;
    justify-content: left;
    margin: 0;
    margin-bottom: 2rem;
}

.fun-landing-banner {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
}

.fun-landing-light {
    margin-right: 0.5rem;
}

.fun-landing-header {
    font-size: 2rem;
}

.fun-landing-greyed {
    margin: 0;
    margin: 1rem 0rem;
    font-size: 1.2rem;
}



@media (max-width: 500px) {
    .fun-landing-header {
        font-size: 1.25rem;
    }

    .fun-landing-header:nth-of-type(1) {
        margin-bottom: 1rem;
    }

    .fun-landing-banner {
        width: 90%;
        padding: 1rem;
    }
}


/* */

.reviews-landing-header {
    margin-bottom: 2rem;
}

@media (max-width: 500px) {
    .reviews-landing-header {
        width: 90%;
        font-size: 2rem;
    }
}




/* Blog */

.blog-landing-container {
    min-height: 500px;
    padding-bottom: 100px;
}

.arrow-right {
    margin-left: 0.5rem;
}





@media (max-width: 500px) {
    .blog-landing-header {
       font-size: 2rem;
    }
}


/* FAQ */

.index-faqs-container {
    width:100%;
    height:auto;
    margin-bottom: 8rem;
}
.index-faqs-header {
    text-align: center;
    margin-bottom:6rem;
}
.faq-container {
    width:100%;
    margin-bottom:4rem;
}
.faq-item {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    width:75%;
    margin: 0rem auto;
    /* padding: 1rem 0rem; */

}
.faq-item:hover > .faq-header, .faq-item:hover > .dropdown-icon {
    color:var(--primary) !important;
}

.faq-header {
    display: flex;
    justify-content: left;
    font-size:2rem;
    cursor: pointer;
    transition: 0.1s ease all;
    margin:1rem 0rem;
    
}

.faq-dropdown-content-closed {
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    width:75%;
    margin:0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding:1rem; */
    font-size:2rem;
    transition: 0.2s ease all;
    opacity:0;
    z-index:-1;
    transform: translateY(-10px);
    font-size:0.1rem;
}
.faq-dropdown-content {
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    width:75%;
    margin:0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:1rem;
    font-size:1.5rem;
    transition: 0.2s ease all;
    opacity:1;
    transform: translateY(0px);
    letter-spacing: -0.05vw;
    border:1px solid var(--primary);
    /* color:black; */
    /* border: 1px solid rgb(200, 200, 200); */
    box-shadow: 1px 1px 8px rgba(255,255,255,0.2);
    letter-spacing: normal;
}
.dropdown-icon {
    font-size:2rem;
    cursor: pointer;
    float:right;
}

@media (max-width: 500px) {

    .index-faqs-header {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .faq-item {
        width: 95%;
    }

    .faq-header {
        font-size: 1.1rem;
    }

    .faq-dropdown-content {
        width: 90%;
        font-size: 1.25rem;
    }

    .faq-dropdown-content-closed {
        height: 1px;
    }
    .dropdown-icon {
        min-width: 55px;
        font-size: 3rem;
    }

    .faq-header {
        margin:0;
        margin: 1rem 0rem;
    }
}


/* CTA */

.cta-landing-container {
    min-height: 500px;
    padding-bottom: 100px;
    
}

.cta-banner {
    width: 60%;
    background-color: var(--primary);
    border-radius: 20px;
    color:white;
    padding: 2rem 4rem;
    text-align: left;
    position: relative;
    margin: 0 auto;
    margin-bottom: 8rem;
}

.cta-header {
    margin:2rem 0rem;
}

.cta-subheader {
    margin:2rem 0rem;
    margin-bottom: 4rem;
}

.cta-btn {
    margin-bottom: 2rem;
}

.cta-landing-img {
    width:10%;
    display: flex;
    justify-content: right;
    text-align: right;
    margin-left: auto;
    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    right:20px;
}
@media (max-width: 500px) {

    .cta-banner {
        padding: 1rem;
        width: 90%;
    }
   .cta-header {
    font-size: 2rem;

   }

   .cta-subheader {
    font-size: 1.25rem;
   }

   .cta-landing-container {
    padding-bottom: 0px;
   }
}