.mini-rank-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0px;
}

.mini-rank {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0rem 0rem 1.5rem 0rem;
    margin-bottom:0rem;
    transition:all 0.2s ease-in-out;
    min-width:200px;
    max-width: 200px;
}
.mini-grid-product-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: -.01vw;
    letter-spacing: -.03vw;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.mini-grid-entity-reviews {
    padding:0rem 1rem;
    min-height: 100px;
}
.mini-grid-img-div-2 {
    height:fit-content;
    height:200px;
    width:auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 5px 25px 3px rgba(0, 0, 0, 0.4) inset;
}

.mini-grid-product-title-div {
    min-height: 60px;
}

.mini-circle-rank {
    position: absolute;
    top:10px;
    right:10px;
    border:5px solid rgb(255, 255, 255);
    background-color: rgb(251, 137, 247);
    padding:0.3rem 0.9rem;
    border-radius:50%;
    font-weight: 700;
    font-size: 1.5rem;
    box-shadow:0 0 5px 1px rgb(240, 171, 255);
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.mini-flexer {
    margin-bottom:1rem;
    align-items: center;
    position:relative;
    width:100%;
    text-align: center;
    justify-content: center;
}

@media (max-width: 800px) {

    
    .mini-grid-product-title {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        word-spacing: -.01vw;
        letter-spacing: -.03vw;
        margin-bottom: 1rem;
        font-family: 'Montserrat', sans-serif !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
  
    .mini-grid-product-title-div {
        max-height: 10px;
    }
}