.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow:1px 5px 12px rgba(200,200,200,0);
    width: 100%;
    align-items: center;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    color:white;
    z-index:99999999999999999 !important;
    left: 0%;
    right: 0%;
    padding:0.75rem 1rem;
    transition:0.2s ease all;
    margin:0 auto;

}
.scrolled {
    background-color: #08121b;
    /* padding:0.5rem 0rem; */
    box-shadow:1px 5px 12px rgba(200,200,200,0.3);
    border-radius: 20px;
    top:20px;
    width: 90%;
    margin:0 auto;
    left: 0%;
    right: 0%;
    padding:0.75rem 1rem;
        border: 3px solid var(--primary);
    /* transform: translateX(-50%); */
}


.nav-logo {
    width: 150px;
    margin-left: 4rem;
}

.nav-logo-link {
    display: flex;
    align-items: center;
    justify-content: left !important;
}

.chatbot-logo {
    width: 5rem;
    position: absolute;
    margin-right: -1rem;
    margin-left: 0;
}


.hamburger-menu {
    background-color: transparent;
    outline: none;
    border:none;
    color:white;
    font-size: 2rem;
    cursor:pointer;
    z-index:999999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:2rem;
    margin-left:2rem;
}

.nav-menu-toggle {
    transform: translateX(400px);
    position: absolute;
    right:0;
    top:0;
    height:100vh;
    width:0vw;
    transition:0.2s ease-in-out all;
    padding:0rem 1rem;

    padding-top:100px;
    background-color: #08121b;

}

.scrolled .nav-menu-toggled {
    transform: translateX(75px);
    height:100vh;
    width:50vw;
    position: absolute;
    right:0;
    top:-50px;
    padding:0rem 1rem;

    padding-top:150px;
    background-color: #08121b;
    display: flex;
    box-shadow:1px 1px 8px rgba(255,255,255,0.2);
}

.scrolled .hamburger-menu {
}

.nav-menu-toggled {
    transform: translateX(0px);
    height:100vh;
    width:50vw;
    position: absolute;
    right:0;
    top:0;
    padding:0rem 1rem;

    padding-top:100px;
    background-color: #08121b;
    display: flex;
    box-shadow:1px 1px 8px rgba(255,255,255,0.2);

}
.mobile-nav-link-container {
    display:block;
}

.hamburger-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.no-flexer {
    width: 100%;
}
.nav-link {
    display: flex;
    /* margin:1rem 0rem; */
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 1.5rem;
    transition: 0.2s ease all;
    margin: 1rem 0rem;
}

.nav-link:hover {
    color:rgba(225, 225, 225, 0.3);
}

.nav-icon {
    width:70px;
    font-size: 1.5rem;
}

.nav-img {
    width:45%;
}

.nav-link > svg > path {
    stroke: var(--primary);
}
.nav-icon {
    color: var(--primary);
}
.nav-link-btn-li {
    margin:0rem;
}

.nav-link-btn {
    min-width: 150px;
    margin: 0rem 1rem;
}

.logout-nav-btn {
    padding:0.5rem 1.5rem;
    margin:0;
    border-radius: 10px;
   text-transform: capitalize;
   z-index:99999999 !important;
}

.login-nav-link {
    z-index:99999999999999 !important;
}

.desktop-nav-link {
    margin:0;
}

.profile-circle {
    /* border:2px solid black; */
    background-color: rgb(36, 107, 238);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    padding:0.5rem 0.9rem;
    border-radius: 50%;
    /* width:1rem;
    margin:0 auto; */
    /* margin-bottom: 0.5rem; */
    /* margin-right:0.5rem; */
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.profile-circle-letter {
    font-weight: 700;
    text-transform: capitalize;
    margin:0;
    padding:0;
    color:white;
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .nav-menu-toggled, .scrolled .nav-menu-toggled {
        width: 80vw;
    }
}
@media (min-width: 500px) {
    .nav-menu-btns {
        display: none;
    }
}
@media (max-width: 500px) {

    .chatbot-logo {
        display:none;
    }

    .navbar {
        padding: 0.75rem 0rem;
        justify-content: space-between;
        /* padding-right: 10px; */
    }



    .nav-log-btn {
        display: none;
    }

    .hamburger-menu {
        margin-right: 0rem;
    }

    .scrolled .nav-menu-toggled {
        width: 80vw;
        right: 59px;
        padding-top: 100px;
    }

    .nav-menu-toggled {
        right: 0px;
    }

    .nav-img {
        width: 60%;
    }

    .hamburger-header {
        margin-bottom: 4rem;
    }

    .mobile-nav-link-container {
        margin-bottom: 3rem;
    }

    .nav-menu-btns {
        display: block;
        margin:0 auto;
    }

    .nav-logo {
        margin-left: 0rem;
    }
}
