.navbar {
    display: flex;
    justify-content: space-around;
    /* box-shadow:1px 5px 12px rgba(200,200,200,0.3); */
    width: 100%;
    align-items: center;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    color:white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index:999999;
    padding:1rem 0rem;
    transition:0.2s ease all;
}
.scrolled {
    background-color: rgb(253, 179, 223);
    padding:0rem 0rem;
}

.nav-logo {
    width:70px !important;
    padding-left:2rem;
}
.nav-menu {
    padding-right:2rem;
}

.nav-link {
    text-decoration: none;
    margin:0rem 2rem;
    font-size: 0.9rem;
}

.nav-form {
    border:3px solid rgb(253, 179, 223);
    border-radius: 100px;
    width:10%;
    background-color: white;
    text-align: left;
    padding:0.3rem 0rem 0.3rem 1.5rem;
    color:black;
    display: flex;
    align-items: center;
    height:20px;
    position: relative;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    transition: 0.2s ease all;
    opacity: 0;
}

.nav-form-expanded {
    width:100%;
    border:3px solid rgb(253, 179, 223);
    border-radius: 100px;
    background-color: white;
    text-align: left;
    padding:0.3rem 0rem 0.3rem 0.5rem;
    color:black;
    display: flex;
    align-items: center;
    height:20px;
    position: relative;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    transition: 0.2s ease all;
    opacity: 1;
}

.nav-landing-input {
    border:none;
    background-color: transparent;
    font-size: 1rem;
    color:black;
    padding-left:0.5rem;
    width:100%;
}

.nav-landing-input::placeholder {
    color:rgb(175, 175, 175);
}

.nav-landing-input:focus {
    outline: none; 
}

@keyframes pulsate {
    from {box-shadow:1px 1px 1px 1px rgba(157,210,253);}
    to {box-shadow:1px 1px 25px 1px rgba(157,210,253);}
}

.nav-toggle-button {
    border:3px solid rgb(157, 210, 253);
    background-color: rgba(0, 0, 1, 1);
    border-radius: 50%;
    color:white;
    padding:0.7rem 0.8rem 0.5rem 0.8rem;
    font-size:1rem;
    cursor:pointer;
    transition:0.2s ease all;
    opacity: 1;
    z-index: 99999;

}
.nav-form-flexer {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-toggle-button-clicked {
    border:3px solid rgb(157, 210, 253);
    background-color: rgba(8,18,27,1);
    border-radius: 50%;
    color:white;
    padding:0.7rem 0.8rem 0.5rem 0.8rem;
    font-size:1rem;
    cursor:pointer;
    transition:0.2s ease all;
    opacity: 1;
    animation:pulsate 1s alternate infinite;
    margin-left:-1rem;
}
.nav-toggle-button:hover, .nav-toggle-button-clicked:hover {
    box-shadow:1px 1px 14px 1px rgba(157,210,253);
    animation:none;
}

.nav-input-suggestions {
    top:35px;
    left:0px;
}


/* .nav-landing-btn {
    font-size: 1.2rem;
    border:none; 
    color:black;
    float: right;
    position: relative;
    border-left:1px solid pink;
    background-color: pink;
    width:100%;
    padding:1.5rem 4rem;
    cursor:pointer;
} */

.nav-input-search-icon {
    position: absolute;
    left:50px;
    top:10px;
    fill: white;
    font-size: 1.5rem;
}  

.nav-submit-btn {
    display: none;
}


.navbar > div {
    width:100%;
}
@media (max-width: 1000px) {
    .nav-menu {
        display: none;
    }
    .nav-form-expanded {
        width:100%;
    }
  }

  @media (max-width: 500px) {
    .nav-logo {
        width:70px !important;
        padding-left: 1rem;
    }
    .navbar > div {
        width:50%;
    }
    .nav-form-flexer {
        width:100% !important;
    }
    .nav-form-expanded {
        width:100%;
    }
}