.technical-dashboard-container {
    padding:0rem 1rem;

    /* padding-top:100px; */
    padding-bottom: 100px;
    text-align: center;
}


.seo-dashboard-container {
    padding:0rem 1rem;
    padding-top:100px;
    text-align: center;
}
.tech-dash-img {
    width: 10%;
}

.tech-dash-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin:4rem 0rem;
}

.tech-dash-grid-small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates columns with a minimum width of 200px and a maximum width of 1fr */
    margin:4rem 0rem;
}

.tech-dash-grid-small .tech-grid-content {
    font-size: 1rem;
    display: none;
}
.tech-dash-grid-small .tech-grid-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
}
.tech-dash-grid-small .tech-grid-header {
    margin: 0;
}
.tech-grid-item {
    position: relative;
    text-align: left;
    padding:1rem 2rem;
    border:1px solid rgba(255, 255, 255, 0.186);
    overflow: hidden;

}

.tech-dash-toggle {
    margin-left: auto;
    color: white !important;
}

.green-grid {
    background-color: rgba(102, 255, 115, 0.571);
}
.red-grid {
    background-color: rgba(255, 116, 116, 0.571);
}
.tech-grid-header {
    font-size: 1rem;
}

.tech-grid-number {
    font-size: 1rem;
}


.tech-dash-header {
    font-weight: 500;
}

.sub-dash-back {
    position: relative;
    text-align: left;
    display: flex;
}

.tech-dash-back {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.tech-dash-arrow {
    margin-right: 1rem;
}


.tech-dash-btn {
    margin: 2rem 0rem;
    margin:2rem auto;
}


.tech-dash-last-p {
    margin-bottom: 2rem;
}


.offpage-control-board {
    margin-top:2rem;
}
