.ranking-container {
    /* padding:0rem 2rem; */
}
.ranking-header {
    margin-bottom:6rem;
    font-size: 3rem;
    padding:0rem 2rem;
    text-transform: capitalize;
    text-align: center;
}
.ranking-subheader {
    font-weight: 200;
    text-align: center;
    margin-top:2rem;
    font-size:1.1rem;
}
.rank-grid-container {
    justify-content: center;
}
.rank-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: auto;
    gap: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom:10rem;
    overflow: hidden;
    padding:0rem 2rem;
    transition: 0.2s ease-in-out all;
}

.grid-item {
    align-items: center;
    justify-content: center;
    text-align: center !important;
    box-shadow: 1px 5px 12px 4px rgba(200,200,200,0.3);
    padding:0rem 0rem 0.5rem 0rem;
    margin-bottom:0rem;
    border-radius:40px;
    background-color: rgb(250, 250, 250);
    color:black !important;
    transition:all 0.2s ease-in-out;
    box-shadow:0 0 20px 1px rgb(190, 190, 190) inset;
    height:100%;
    min-height: 100%;
    overflow: hidden;
    margin: 0rem auto;
    /* border: 2px solid rgb(0, 0, 0); */
}

.grid-item:hover {
    /* box-shadow:0 0 20px 1px rgb(120, 120, 120) inset; */
    cursor:pointer;
}
.flexer {
    margin-bottom:0rem;
    align-items: center;
    position:relative;
    width:100%;
    text-align: center;
    justify-content: center;
}

.grid-img-div {
    height:250px;
    width:250px;
    align-items: center;
    display: flex;
    justify-content: center;
    width:100%;
    background-color: white;
    /* border-bottom: 1px solid black; */
    box-shadow: 1px 5px 25px 3px rgba(0, 0, 0, 0.4) inset;
}

.grid-product-title-div {
    min-height: 75px;
}

.grid-entity-reviews {
    padding:1rem 1rem;
}

.prod-desc-review-stars {
    margin-right:1rem;
}

.circle-rank {
    position: absolute;
    top:10px;
    right:10px;
    border:5px solid rgb(255, 255, 255);
    background-color: rgb(244, 207, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    height:45px;
    width:45px;
    border-radius:50%;
    font-weight: 700;
    font-size: 2rem;
    box-shadow:0 0 20px 1px rgb(255, 132, 253);
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.affiliate-link {
    cursor: pointer;
    margin:0rem 1rem;
}

.grid-product-title {
    font-size:1.5rem;
    font-weight:700;
    letter-spacing: -.03vw;
    margin: 0;
    margin-bottom:0.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;

}
.review-rate {
    margin-right:0.5rem;
    font-weight:600;
    font-size: 0.9rem;
}

.affiliate {
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom:1rem;
}

.review-count > h3 {
    font-weight: 300;
    font-size: 0.8rem;

}
.review-count {
    display: flex;
    align-items: center;
}
.affiliate > img {
    margin:0rem 1rem;
}

.buying_options_more_link {
    color:black;
    display: flex;
    align-items: center;
    border-radius:50%;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.1s ease all;
}


.buying_options_more_link:hover {
    transform: scale(1.1);
}
.reviews {
    display:flex;
    align-items: center;
    margin-bottom:1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.review-stars-div {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right:0.5rem;
}

.review-star, .review-star-outline {
    color:rgb(253, 179, 223);
}

.review-stars {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pricing {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom:1rem;
    padding:0rem 2rem;
    align-items: center;
    position: relative;
    align-items: center;
}
.price {
    display: flex;
    margin-bottom:0.5rem;
    align-items: center;
    padding:0.2rem;
    border-radius:50%;
    font-weight:400;
    box-shadow: 1px 3px 8px 3px rgba(226, 225, 225, 0.8);
    transition: 0.2s ease all;
}

.rank-price-link {
    font-family: "Poppins", sans-serif;
}
.price > img {
    height:fit-content;
}

.price-tag {
    display: none;
}

.price:hover {
    background-color: black;
}
.price:hover > .price-tag {
    display: flex;
    color:white;
}

.price:hover > .price-img {
    display: none;
}


.flip-card {
    background-color: none;
    width: 30px;
    height: 30px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    font-weight:400;
    box-shadow: 1px 3px 8px 3px rgba(226, 225, 225, 0.8);
    transition: 0.2s ease all;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    /* background-color: #bbb; */

    color: black;
  }
  
  .flip-card-front > img {
    width:30px;
    height:auto;
  }
  /* Style the back side */
  .flip-card-back {
    /* background-color: dodgerblue; */
    padding: 0rem;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }

.sent-scores {
    display: flex;
    justify-content: space-around;
    margin-bottom:2rem;
    align-items: center;
}

.sent-score {
    text-align: center;
    font-weight:700;
}
.sent-img {
    width:50px;
}

.sent-circle {
    padding:1rem;
    border:4px solid pink;
    border-radius: 50%;
}

.youtube-sent-score {
    margin-top:0.6rem;
}

.rank-contain-full {
    width:100%;
    overflow: hidden;
}


@media (max-width: 1200px) {
    .rank-grid {
        display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, 300px);

    gap: 20px;
    padding:0rem 2rem;
    }
    
  }

  @media (max-width: 500px) {
    .rank-grid {
        display: grid;
    grid-template-rows: auto;
    gap: 50px;
    padding:0rem 2rem;
    }
    
  }